.canvas {
  border: solid 1px rgb(100, 100, 100);
  width: 900px;
  height: 600px;
}

.clear-button {
  width: 100px;
  height: 30px;
  background-color: rgb(150, 150, 150);
  color: white;
  margin: 5px 0;
  border-radius: 15px;
  border: none;
  outline: none;
  font-weight: bold;
}

.clear-button:active{
  border:1px solid #454545;
  background-color: rgb(100, 100, 100);
  color:#ffffff;
}

.save-button {
  width: 100px;
  height: 30px;
  background-color: rgb(50, 50, 50);
  color: white;
  margin: 5px 0;
  border-radius: 15px;
  border: none;
  outline: none;
  font-weight: bold;
}

.seve-button:active{
  border:1px solid #707070;
  background-color: rgb(150, 150, 150);
  color:#ffffff;
}

.send-button {
  width: 100px;
  height: 30px;
  background-color: rgb(50, 50, 50);
  color: white;
  margin: 5px 0;
  border-radius: 15px;
  border: none;
  outline: none;
  font-weight: bold;
}

.send-button:active{
  border:1px solid #707070;
  background-color: rgb(150, 150, 150);
  color:#ffffff;
}

.answer {
  color: rgb(100, 100, 100);
  font-size: 20px;
}

h1{
  color: rgb(100, 100, 100);
}