{% extends "base.html" %}
{% block content %}
<div>
  <a href="index.html">TOPページ</a>
  <canvas id="myChart"></canvas>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/static/js/analysis.js"></script>
{% endblock %}


# ファイル保存なし
# ログインとcanvasが繋がったやつ
# デプロイしようとしているところ
# DBはsqlalchemy→BQ

import imghdr
import re
import base64
from sqlite3 import Timestamp
from flask import Flask, render_template, session, request, jsonify, redirect
from flask_cors import CORS
import numpy as np
from google.oauth2 import service_account
from google.cloud import language_v1
from ensurepip import bootstrap
from enum import unique
from crypt import methods
# from flask_sqlalchemy import SQLAlchemy
from google.cloud.bigquery import Client
import pandas_gbq 
from flask_login import LoginManager,  logout_user, login_required
#  UserMixin,login_user,↑の中から消した 
from flask_bootstrap import Bootstrap
from google.cloud import storage as gcs

from werkzeug.security import generate_password_hash, check_password_hash
import os

from datetime import datetime
import pytz

import base64
# from PIL import Image
from io import BytesIO

app = Flask(__name__)
credentials_path = '/Users/satomi.f/newproject/kakushiru-fd65da234d38.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = credentials_path
# app.config['GOOGLE_APPLICATION_CREDENTIALS'] = 'sqlite:///blog.db'
app.config['SECRET_KEY'] = os.urandom(24)
# db = SQLAlchemy(app)

bootstrap = Bootstrap(app)

client = Client()
# query = f"select * from `kakushiru.kakushiru.user` where user_name = '{user_name}'"
# result = client.query(query)
# df = result.to_dataframe()
# dict = df.to_dict()
# print(dict)
# result = client.query(query)
# df = result.to_dataframe()
# dict = df.to_dict()


# print(df)

login_manager = LoginManager()
login_manager.init_app(app)

# class Post(db.Model):
#     id = db.Column(db.Integer, primary_key=True)
#     title = db.Column(db.String(50), nullable=False)
#     body = db.Column(db.String(300), nullable=False)
#     created_at = db.Column(db.DateTime, nullable=False, default=datetime.now(pytz.timezone('Asia/Tokyo')))

# class User(UserMixin, db.Model):
#     # id = db.Column(db.Integer, primary_key=True)
#     username = db.Column(db.String(30), unique=True)
#     password = db.Column(db.String(12))

@login_manager.user_loader
def load_user(user_name):
  query = f"select * from `kakushiru.kakushiru.user` where user_name = '{user_name}'"
  result = client.query(query)
  df = result.to_dataframe()
  dict = df.to_dict()
  return dict

@app.route('/', methods=['GET', 'POST'])
# わからないところ
# @login_required
# def index():
#   if request.method == 'GET':
#     data_img = request.form.get('img_str')
#     text = request.form.get('ans')
#     emotion = request.form.get('senti_res')

#     query = f"select * from `kakushiru.kakushiru.data`"

#     result = client.query(query)
#     df = result.to_dataframe()
#     dict = df.to_dict()
#     return dict

# rows_to_insert = [{'data_img': data_img, 'text': text, 'emotion': emotion, 'created_at': datetime.now(pytz.timezone('Asia/Tokyo')), 'updated_at': datetime.now(pytz.timezone('Asia/Tokyo'))}]

#   else:
#     return render_template('login.html', message='ログインしてないよ！')
def index():
  if (session):
    if request.method== 'GET':
      # posts = [{'id': 1, 'title': 'テストタイトル', 'created_at': '2022/03/29', 'body': 'テストテストテスト'}]
      # return render_template('index.html', posts=posts)

      query = f"select * from `kakushiru.kakushiru.data`"
      result = client.query(query)
      df = result.to_dataframe()
      dict = df.to_dict()
      data = dict
      # print(data)
      # data = {'user_name': {'0': '3333', '1': '2323', '2': '5678'}, 'password': {'0': 3333, '1': 2323, '2': 5678}, 'created_at': {'0': '2022-03-29 10:21:17.018687', '1': '2022-03-29 10:24:27.875466', '2': '2022-03-29 08:41:48.731315'}}

      listOfDataImg = data['data_img'].values()
      listOfDataImg = list(listOfDataImg)

      listOfText = data['text'].values()
      listOfText = list(listOfText)

      listOfEmotion = data['emotion'].values()
      listOfEmotion = list(listOfEmotion)
      
      listOfCreatedAt = data['created_at'].values()
      listOfCreatedAt = list(listOfCreatedAt)
      
      listOfUpdatedAt = data['updated_at'].values()
      listOfUpdatedAt = list(listOfUpdatedAt)

      posts = []

      for index in range(3):
        posts.append({'data_img': listOfDataImg[index], 'text': listOfText[index], 'emotion': listOfEmotion[index],'updated_at': listOfUpdatedAt[index], 'created_at': listOfCreatedAt[index]})

      # print(posts)

      # listOfUsername = data['user_name'].values()
      # listOfUsername = list(listOfUsername)

      # listOfPassword = data['password'].values()
      # listOfPassword = list(listOfPassword)

      # listOfCreatedAt = data['created_at'].values()
      # listOfCreatedAt = list(listOfCreatedAt)

      # posts = []

      # for index in range(3):
      #   posts.append({'user_name': listOfUsername[index], 'password': listOfPassword[index], 'created_at': listOfCreatedAt[index]})

      # print(posts)

      return render_template('index.html', posts=posts)
      





  else:
    return render_template('login.html', message='ログインしてないよ！')

@app.route('/signup', methods=['GET', 'POST'])
def signup():
  if request.method == 'POST':
    password = request.form.get('password')
    user_name = str(request.form.get('user_name'))

    query = f"select * from `kakushiru.kakushiru.user`"

    result = client.query(query)
    df = result.to_dataframe()
    dict = df.to_dict()
    listOfValues = dict['user_name'].values()
    listOfValues = list(listOfValues)
    # print('this is dataframe')
    # print(df)
    # print('this is object')
    # print(dict)
    # print('this is array')
    # print(listOfValues)

    dict['password'][5]

    for value in listOfValues:
      if value == user_name:
        return render_template('signup.html', message = 'このユーザー名は既に使われています')


    rows_to_insert = [{'user_name': user_name, 'password': password, 'created_at': datetime.now(pytz.timezone('Asia/Tokyo'))}]

    table = client.get_table('kakushiru.kakushiru.user')
    errors = client.insert_rows(table, rows_to_insert)
    if errors == []:
      print('Success!')
    #  user = User(username=username, password=generate_password_hash(password, method='sha256'))

    # client.session.add(user)
    # client.session.commit()
    return redirect('/login')
  else:
    return render_template('signup.html')


@app.route('/login', methods=['GET', 'POST'])
def login():
  if request.method == 'POST':
    password = request.form.get('password')
    user_name = str(request.form.get('user_name'))

    query = f"select * from `kakushiru.kakushiru.user` where user_name = '{user_name}'"

    result = client.query(query)
    df = result.to_dataframe()
    dict = df.to_dict()

    if int(password) == dict['password'][0]:
      session['user'] = dict
      print(session)
      return redirect('/')
    else:
      return render_template('login.html', message='すまん！')
    # listOfValuesname = dict['user_name'].values()
    # listOfValuespass = dict['password'].values()
    # listOfValuesname = list(listOfValuesname)
    # listOfValuespass = list(listOfValuespass)

    # print('ユーザー名リスト')
    # print(listOfValuesname)
    # print('パスワードリスト')
    # print(listOfValuespass)
    
    #  print(user_name)
    #  user = user.result.filter_by(user_name=user_name).first(){user_name}
    #  if check_password_hash(user.password, password):
    #    login_user(user)
    #    session['user_id']=user.id
    # for value in listOfValuesname:
    #  if value == user_name: 
    #   return redirect('/')
    # for value in listOfValuespass:
    #  if value == password: 
    #   return redirect('/')
  else:
    return render_template('login.html')

@app.route('/logout')
@login_required
def logout():
    logout_user()
    return redirect('/login')

# @app.route('/create', methods=['GET', 'POST'])
# @login_required
# def create():
#   if request.method == 'POST':
#      title = request.form.get('title')
#      body = request.form.get('body')

#      post = Post(title=title, body=body)

#      db.session.add(post)
#      db.session.commit()
#      return redirect('/')
#   else:
#       return render_template('create.html')


# 編集機能

# @app.route('/<int:id>/update', methods=['GET', 'POST'])
# @login_required
# def update(id):
#   post = Post.query.get(id)

#   if request.method == 'GET':
#      return render_template('update.html', post=post)
#   else:
#      post.title = request.form.get('title')
#      post.body = request.form.get('body')
#      db.session.commit()
#      return redirect('/')


# 削除機能
# @app.route('/<int:id>/delete', methods=['GET'])
# @login_required
# def delete(id):
#   post = Post.query.get(id)

#   db.session.delete(post)
#   db.session.commit()
#   return redirect('/')

     

# @app.route('/predict', methods=['POST'])
# def predict():
#     # global graph
#     # with graph.as_default():
#         if request.method == 'POST':
#           final_pred = None
#           #Preprocess the image : set the image to 28x28 shape
#           #Access the image
#           draw = request.form['url']
#           #Removing the useless part of the url.
#           draw = draw[init_Base64:]
#           #Decoding
#           draw_decoded = base64.b64decode(draw)

#           return draw()

@app.route('/create', methods=['GET', 'POST'])
def create():
  print(request.method)
  if request.method == 'POST':
    img_str = re.search(r'base64,(.*)', request.form['img']).group(1)
    nparr = np.fromstring(base64.b64decode(img_str), np.uint8)
    s = base64.b64encode(nparr)
    r = base64.decodebytes(s)    
    ans =  detect_text(r)
    # print(img_str)
    senti_res = sample_analyze_sentiment(ans)

        #保存する部分
    ts = datetime.now(pytz.timezone('Asia/Tokyo')).strftime(format='%Y%m%d%H%M%S')
    svimg(r, ts)
    
    print(senti_res)  
    print(ans)
    return jsonify({'ans': f'手書き文字認識の結果は : {ans}       ' + f'\t感情分析の結果は : {senti_res}'}),redirect('/uproad')
  else :
    return render_template('create2.html')
    
    #   try:
    #     f = request.json['img']
    #     print(f)
    #     p = os.path.join(app.root_path, 'kakushiru-fd65da234d38.json')
    #     storage_client = storage.Client.from_service_account_json(p)
    #     bucket = storage_client.get_bucket('kakushiru.appspot.com')
    #     blob = bucket.blob('a.jpg')
    #     blob.upload_from_string("base64,", content_type="image/png")
    #     print(blob.public_url)
    #     return redirect('/')
  
    #   except Exception as e:
    #     print(e)
    #     return render_template('login.html', message='すまん！')
    # # 'Success!')
    # else:
    #   # print(session['user_name'])
    #   return render_template('create2.html')


     
def canvas(ans, senti_res):
    # if request.method == 'POST':
    data_img = request.form.get('data_img')
    text = str(request.form.get('text'))
  
    query = f"select * from `kakushiru.kakushiru.data`"

    result = client.query(query)
    df = result.to_dataframe()
    dict = df.to_dict()
    listOfValues = dict['data_img'].values()
    listOfValues = list(listOfValues)

    for value in listOfValues:
      if value == data_img:
        return render_template('create2.html', message = '同じデータです')

      rows_to_insert = [{'data_img': data_img, 'text': ans, ' emotion': senti_res, 'created_at': datetime.now(pytz.timezone('Asia/Tokyo')), 'updated_at': datetime.now(pytz.timezone('Asia/Tokyo'))}]

      print(rows_to_insert)

    table = client.get_table('kakushiru.kakushiru.data')
    errors = client.insert_rows(table, rows_to_insert)
    if errors == []:
     print('Success!')
    else:
      return render_template('/')  

    
    # img_str = re.search(r'base64,(.*)', request.form['img']).group(1)
    # nparr = np.fromstring(base64.b64decode(img_str), np.uint8)
    # s = base64.b64encode(nparr)
    # r = base64.decodebytes(s)    
    # ans =  detect_text(r)
    # if ans == 'error':
    #   senti_res = 'error'
    # else :
    #   senti_res = sample_analyze_sentiment(ans)
  
        #保存する部分
  #   ts = datetime.now(pytz.timezone('Asia/Tokyo')).strftime(format='%Y%m%d%H%M%S')
  #   svimg(r, ts)
    
  #   return jsonify({'ans': f'手書き文字認識の結果は : {ans}' + f'<br>感情分析の結果は : {senti_res}'})
  # else :
  #   return render_template('create2.html')
 

    # GCSに画像保存する関数
def svimg(image, filename):
    credentials = service_account.Credentials.from_service_account_file('kakushiru-fd65da234d38.json')
    project_id = "kakushiru"
    gcs_client = gcs.Client(project_id, credentials=credentials)
    bucket_name = "kakushiru.appspot.com"
    gcs_path = "/image/kakushiru".format(filename)  # 自分でファイル名決めてOK →　BQにこのアドレス保存すべし
    bucket = gcs_client.get_bucket(bucket_name)
    blob_gcs = bucket.blob(gcs_path)
    blob_gcs.upload_from_string(data=image, content_type="image/jpeg")


def detect_text(content):
    """Detects text in the file."""
    from google.cloud import vision
    import io
    
    credentials = service_account.Credentials.from_service_account_file('kakushiru-fd65da234d38.json')
    client = vision.ImageAnnotatorClient(credentials=credentials)
    image = vision.Image(content=content)

    response = client.text_detection(image=image)
    texts = response.text_annotations
    if len(texts) > 0:
        out = re.sub('\n', '', [text.description for text in texts][0])
    else:
        out ='error'
    return out

    if response.error.message:
      raise Exception(
      '{}\nFor more info on error messages, check: '
      'https://cloud.google.com/apis/design/errors'.format(response.error.message))

def sample_analyze_sentiment(text_content):
    """
    Analyzing Sentiment in a String

    Args:
      text_content The text content to analyze
    """
    credentials = service_account.Credentials.from_service_account_file('kakushiru-fd65da234d38.json')
    client = language_v1.LanguageServiceClient(credentials=credentials)

    # text_content = 'I am so happy and joyful.'

    # Available types: PLAIN_TEXT, HTML
    type_ = language_v1.Document.Type.PLAIN_TEXT

    # Optional. If not specified, the language is automatically detected.
    # For list of supported languages:
    # https://cloud.google.com/natural-language/docs/languages
    language = "ja"
    document = {"content": text_content, "type_": type_, "language": language}

    # Available values: NONE, UTF8, UTF16, UTF32
    encoding_type = language_v1.EncodingType.UTF8

    response = client.analyze_sentiment(request = {'document': document, 'encoding_type': encoding_type})
    # Get overall sentiment of the input document
    print()
    return response.document_sentiment.score



# データアップロード??
# @app.route('/uproad', methods=['GET', 'POST'])
def upload():
  try:
      f = request.json['img']
      print(f.read())
      p = os.path.join(app.root_path, 'kakushiru-fd65da234d38.json')
      storage_client = storage.Client.from_service_account_json(p)
      bucket = storage_client.get_bucket('kakushiru.appspot.com')
      blob = bucket.blob('a.jpg')
      blob.upload_from_string(f.read(), content_type=f.content_type)
      print(blob.public_url)
      return redirect('/')
      
  except Exception as e:
      print(e)
      return render_template('login.html', message='すまん！')
 

    
if __name__ == "__main__":
      app.run()